<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>360Studying_about!</title>

    <meta name="description" content="online 360Studying">
    <meta name="author" content="LayoutIt!">

    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/bootstrap/css/style.css" rel="stylesheet">

  </head>
  <body>

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<div class="hero-unit">
				<h1>
					360Studying!
				</h1>
				<p>
					这是一个在线学习网站，我们致力于用心去做教育，为客户提供最好的教育产品，帮助客户学习、实践、工作。
				</p>
				<p>
					<a class="btn btn-primary btn-large" href="/">返回主页 »</a>
				</p>
			</div> <address> <strong>Twitter, Inc.</strong><br /> 795 Folsom Ave, Suite 600<br /> San Francisco, CA 94107<br /> <abbr title="Phone">P:</abbr> (123) 456-7890</address>
		</div>
	</div>
</div>

</body>
</html>
